# Dependencies
**/node_modules/
/.pnp
.pnp.*

# Testing
/coverage

# Next.js
.next/
**/out/

# Production
**/build

# Environment Variables
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
**.env.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
firebase-export-*.json

# IDEs
.vscode/
.idea/
app/seed/


.firestore.rules/
.env*.local
.env
  